# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python

# Virtual environment
venv/
env/
.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables / secrets
.env

# Editors / OS
.vscode/
.idea/
.DS_Store
